
.halfPage {
  position: relative;
  height: 100vh;
}

/* Image and links inside banner */

.profileBannerOuterDiv {
/* position: relative; */
/* height: auto; */
/* padding:20px; */
min-width:500px;
}




#pageLinks {
width:100%;
height: 20vh;
position: relative;
}

ul.contentList {
position: absolute;
left: 5%;
bottom: 10px;
width: auto;
}

ul.contentList a {
text-decoration: none;
font-size:32px;
color:white;
text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
}

#unsplash {
position: absolute;
right: 5%;
bottom: 10px;
width: auto;
}

#unsplash ul {
background-color: rgba(0, 0, 0, 0.4);
border-radius: 5px;
}

#unsplash a {
color:#DFAE3E;
font-size: 20px;
}
