#projects {
  /* background-image: linear-gradient(rgba(29, 53, 36, 1.0), rgba(29, 53, 36, 0.8),
  rgba(29, 53, 36, 0.6), rgba(29, 53, 36, 0.45),rgba(29, 53, 36, 0.1), rgba(29, 53, 36, 0.01)); */
  /* background-image: linear-gradient(rgba(223, 175, 62, 1.0), rgba(223, 175, 62, 0.8),
  rgba(223, 175, 62, 0.6), rgba(223, 175, 62, 0.45),rgba(223, 175, 62, 0.1), rgba(223, 175, 62, 0.01)); */
  background-color: rgb(29, 53, 36);
  height: auto;
  padding:40px 0;
  position:relative;
  color: #EEE0CB;
}

.slidingCardsContainer {
  margin: 0 auto;
  padding-top: 24px;
  border-radius: 20px;
  min-width: 150px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scrollable {
  /* height: 100%; */
  overflow: hidden scroll;
  overflow-y: hidden;
  margin: 0 auto;
  /* justify-content: start; */
}
.eachCard {
  margin: 20px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scrollable::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollable {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.slidingCards {
  position: relative;
  padding: 0;
  height: 250px;
  width: auto;
  min-width: 300px;
}

.slidingCards h4 {
  font-size: 24px;
}

button {
  /* border-color: rgba(223, 175, 62, .40); */
  background-color: rgba(223, 175, 62, 0);
  max-height: 30px;
  border: none;
}


.slidingCards a {
  color:rgba(0, 0, 0, .4);
}

.slidingCards img.mobile {
  width: auto;
  height: 220px;
}

.slidingCards img.web {
  width: 296px;
  height: 220px;
  margin: 0;
  border-radius: 5px 5px 0 0;
}

.slidingCards div.buttons {
  position: absolute;
  top: 0;
  right: 0;
}

.cardDescription {
  background-color: rgba(0, 0, 0, .4);
  width: 296px;
  height: auto;
  border-radius: 0 0 5px 5px;
  margin-top: 6px;
}

.cardDescription p {
  font-size: 20px;
  padding: 8px;
  color: white;
}
