
/* Banner section */
.hidden {
  display: none;
}
.fixed {
  width: 50%;
  height: 100vh;
  position: fixed;
}

img.profile {
  max-height:300px;
  border-radius: 10%;
}

#linksList {
  list-style-type: none;
  padding: 5px 20px;
  margin: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  }

  /* Mini bio */

  #intro, #index {
    font-size: 18px;
    padding: 0 15px;
    /* style="text-align: left;" */
  }

  /* #index {
    text-align: right;
  } */
  #index1 {
    text-align: center;
    /* margin: 0 auto; */
  }

  #introArrow {
    display: show;
  }

  .textBox {
    width: 100%;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 auto;
    /* padding: 15px 0; */
  }

  .genLinksList {
    list-style-type: none;
    width: fit-content;
  }

  #linksList li {
    padding: 15px 0;
  }

  #linksList a, .genLinksList a {
    color: #DFAE3E;
  }

  #linksList a:hover, .genLinksList a:hover {
    color: white;
  }


/* SKILLS */

.resumeDiv {
  /* height: 75vh; */
  text-align: center;
}

.resumeDiv img {
  max-height: 300px;
  margin-top: 30px;
}

p.techTools {
  line-height: 400%;
  text-align: center;
  margin: auto;
}
.techTools a {
  padding: 5px;
}


/* PROJECTS */

.divider {
  width: 500px;
  margin: 0 auto;
  border-bottom: 3px solid rgba(238, 224, 203, 0.3);
}
#firstProject {
  margin-top: 20px;
}
#lastProject {
  margin-bottom: 20px;
}
.projectCard {
  max-width: 400px;
  border: solid 1px #EEE0CB;
  border-radius: 10px;
  height:auto;
  width: 90%;
  align-content: center;
  margin: 10px auto;
  box-shadow: 2px 2px 3px rgba(238, 224, 203, 0.3);
}

.projectIcons {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p.cardDesc {
  font-size: 14px;
  padding: 0px 15px;
  background-color: rgba(238, 224, 203, 0.7);
  /* background-color: #EEE0CB; */
  color: rgb(29, 53, 36);
  padding: 5px 15px;
  text-align: center;
}

.projectSkill, .projectLink{
  width: 30%;
  display: flex;
  justify-content: space-around;
  /* padding: 0 40px; */
}
.projectSkills, .projectLinks{
  width: 100%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  column-gap: 3%;
  padding: 0 0 5px 0;
}

i {
  color: #DFAE3E;
}

/* blog */
.longBio {
  /* width: 60%; */
  max-width: 500px;
}
.blogSection {
  /* width:65%; */
  max-width: 500px;
  align-content:center;
  /* align-content: flex-start; */
  margin: 0 auto;
  flex-direction: column;
}

.footerLinks {
  display: flex;
  width: 200px;
  justify-content: space-around;
}
