
/* Banner section */
.fixed {
  width: 50%;
  height: 100vh;
  position: fixed;
}

img.profile {
  max-height:300px;
  border-radius: 10%;
}

#profileLinksList {
  list-style-type: none;
  padding:15px 20px;
  margin: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 20px;
  }

  /* Mini bio */

  #intro, #index {
    font-size: 18px;
    padding: 0;
  }

  #index {
    text-align: right;
  }

  .textBox {
    width: 100%;
    border-radius: 20px;
    font-size: 18px;
    margin: 0 auto;
    padding: 15px 0;
  }

  .genLinksList {
    list-style-type: none;
    width: fit-content;
  }

  #profileLinksList li {
    padding: 15px 0;
  }

  #profileLinksList a, .genLinksList a {
    color: #DFAE3E;
  }

  #profileLinksList a:hover, .genLinksList a:hover {
    color: white;
  }


/* SKILLS */

.resumeDiv {
  /* height: 75vh; */
  text-align: center;
}


p.techTools {
  line-height: 400%;
  text-align: center;
}
.techTools a {
  padding: 5px;
}


/* PROJECTS */
.projectCard {
  max-width: 400px;
  border: solid 1px #EEE0CB;
  border-radius: 10px;
  height:auto;
  width: 90%;
  align-content: center;
  margin: 10px auto;
  box-shadow: 2px 2px 3px rgba(238, 224, 203, 0.3);
}

.projectIcons {
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
p.cardDesc {
  font-size: 14px;
  padding: 0px 15px;
  background-color: rgba(238, 224, 203, 0.7);
  /* background-color: #EEE0CB; */
  color: rgb(29, 53, 36);
  padding: 5px 15px;
  text-align: center;
}

.projectSkill, .projectLink{
  width: 30%;
  display: flex;
  justify-content: space-around;
  /* padding: 0 40px; */
}
.projectSkills, .projectLinks{
  width: 100%;
  display: grid;
  grid-template-columns: 10% 10% 10% 10%;
  column-gap: 3%;
  padding: 0 0 5px 0;
}

i {
  color: #DFAE3E;
}
